app = 'flaresolverr-production'
primary_region = 'lax'

[build]
image = "ghcr.io/flaresolverr/flaresolverr:latest"

[env]
TZ = "Asia/Shanghai"

[http_service]
internal_port = 8191
auto_stop_machines = 'suspend'
auto_start_machines = true
min_machines_running = 1
processes = ['app']

[http_service.concurrency]
type = 'requests'
soft_limit = 10

[[http_service.checks]]
grace_period = "30s"
interval = "60s"
timeout = "10s"
method = "GET"
path = "/health"

[[restart]]
policy = 'on-failure'
retries = 10
processes = ['app']

[[vm]]
memory = '1gb'
cpu_kind = 'shared'
cpus = 1
